/*common-style*/
.fl{
    float:left;
}
.fr{
    float:right;
}
.fix::after{
    content:'';
    display:block;
    clear:both;
}
html, body{
    min-width:980px;
    height:100%;
    font-size:12px;
    text-align:center;
}
/*index-background*/
#bg-wrap{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-10;
    background-position:center 0;
    background-repeat:no-repeat;
    background-image:url("../img/bg.jpg");
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}

@font-face {
    font-family: 'iconfont';  /* project id 89293 */
    src: url('//at.alicdn.com/t/font_chum6c1tnbyjsjor.eot');
    src: url('//at.alicdn.com/t/font_chum6c1tnbyjsjor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_chum6c1tnbyjsjor.woff') format('woff'),
    url('//at.alicdn.com/t/font_chum6c1tnbyjsjor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_chum6c1tnbyjsjor.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont";
    font-size:16px;
}

/*header-style*/
/*头部导航条*/
.wrapper-top{
    color:#fff;
}
.wrapper-top{
    height:40px;
    line-height:40px;
    background-image:linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
}
/*头部天气部分*/
.wrapper-weather{
    margin-left:10px;
    font-weight:bold;
}
.wrapper-weather span{
    padding:0 5px;
}
.wrapper-weather .show-pollution{
    color:#badc00;
}
/*头部左侧菜单*/
.wrapper-s-menu, .wrapper-right-menu{
    text-decoration:underline;
    font-size:0; /*解决inline-block 换行被解析问题*/
}
.wrapper-s-menu a, .wrapper-right-menu a{
    font-size:12px; /*解决inline-block 换行被解析问题*/
    color:#fff;
    display:inline-block;
}
.wrapper-s-menu a{
    padding:0 4px;
}
/*头部右侧菜单*/
.wrapper-right-menu a{
    height:40px;
    line-height:40px;
    display:inline-block;
    margin-left:20px;
    text-decoration:underline;
}
.wrapper-right-menu a.more-pro{
    width:86px;
    text-align:center;
    background:#398bfb;
}
/*百度搜索框部分*/
.header-wrap{
    position:relative;
    height:38.2%;
    min-height:293px;
    width:1000px;
    margin:0 auto;
    position:relative;
    z-index:999;
}
.header-wrap .search-form-wrap{
    width:644px;
    height:100%;
    min-height:293px;
    margin:0 auto 0 auto;
    text-align:left;
    z-index:100;
}
.header-wrap .baidu-logo{
    width:270px;
    margin:0 auto;
    height:61.8%;
    min-height:181px;
    position:relative;
    z-index:0;
    text-align:center;
}
.header-wrap .baidu-logo img{
    width:270px;
}
.header-wrap .form-search{
    width:640px;
    margin:0 auto;
    position:relative;
}
.form-search .form-text{
    width:536px;
    height:40px;
    line-height:30px;
    text-indent:10px;
    float:left;
}
.form-search .form-btn{
    float :left;
    width:104px;
    height:40px;
    line-height:40px;
    background-image:linear-gradient(top, white, #ccc);
    background-image:-webkit-linear-gradient(top, white, #ccc);
    background-image:-moz-linear-gradient(top, white, #ccc);
    background-image:-ms-linear-gradient(top, white, #ccc);
}
.form-search .show-info{
    position:absolute;
    top:40px;
    color:#000;
    width:536px;
    background:#fff;
    border-top:1px solid #ccc;
    display:none
}
.form-search .show-info li{
    height:30px;
    line-height:30px;
}
.form-search .show-info li a{
    padding-left:10px;
    display:inline-block;
    width:526px;
    color:#000;
    text-decoration:none;
    background:#fff;

}
.form-search .show-info li a:hover{
    background:#ccc;
}
/*main-style*/
.main{
    width:896px;
    min-height:400px;
    margin:0 auto;
    background:rgb(235, 235, 237);
}
.main .contain-top{
    height:40px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.main .contain-top .set-btn {
    font-size:20px;
    position:absolute;
    width:28px;
    height:28px;
    line-height:28px;
    right:10px;
    top:4px;
    cursor:pointer;
}
.main .contain-top li{
    line-height:40px;
    float:left;
    padding:0 20px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
.main .contain-top li:hover {
    background:#999;
}
.main .contain-top li.on{
    background:#cccccc;;
}
.contain-main>div {
    display:none;
}
.contain-main>div.on {
    display:block;
}
/*选项卡设置部分*/
.contain-top .set-choose {
    position:absolute;
    top:40px;
    left:0;
    width:100%;
    background:#fff;
    padding:10px 25px;
    box-sizing:border-box;
    display:none;
    z-index:9;
}
.set-left,.set-right {
    width:50%;
    float:left;
}
.set-left h3,.set-right h3  {
    padding:4px 0;
    text-align:left;
    height:30px;
    line-height:30px;
    font-weight:normal;
}
.concern {
    width:60px;
    margin-top:10px;
    padding:6px 10px;
    text-align:center;
    font-size:14px;
    border:1px solid #ccc;

}
.add-wrap {
    padding-left:8px;
    margin-left:84px;
}
.add-box {
    position:relative;
    float:left;
    margin:10px 8px;
}
.add-box:hover .add-close {
    background:#398bfb
}
.add-box:hover .add-con {
    border-color:#398bfb
}
.add-close {
    position:absolute;
    top:-6px;
    left:-6px;
    width:12px;
    height:12px;
    line-height:12px;
    font-size:12px;
    border-radius:50%;
    color:#fff;
    background:#ccc;
}
.add-con {
    width:40px;
    padding:6px 10px;
    text-align:center;
    font-size:14px;
    border:1px dashed #ccc;
}
.set-right .add-wrap {
    margin:0;
}





/*小说*/
.contain-main {
    padding:10px 25px;
}
.contain-main .book_list {
    width: 273px;
    height: 170px;
    border-top: 1px solid #eee;
    float: left;
    background: #f8f8f8;
    margin-top:10px;
    position: relative;
}
.contain-main .book_list:nth-of-type(3n+2){
    margin:10px 5px 0;
}
.contain-main .book_name {
    position: relative;
    padding: 9px 15px 12px 10px;
}
.contain-main .book_details{
    width: 120px;
    text-align: left;
    padding-top: 25px;
}
.contain-main .book_details p,.contain-main .book_details h2  {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    color: #666;
}


/*体育轮播图*/
.scroll_pic{
    width:548px;
    height:312px;
    position: relative;
    overflow: hidden;
}
.scroll_pic .boxInner{
    position: absolute;
    left:0;
    top:0;
    width: 4000px;
}
.scroll_pic .boxInner div{
    float: left;
    width: 548px;
    height: 300px;
}
.scroll_pic .boxInner div img{
       width: 100%;
       display: block;
   }


.scroll_pic ul{
    position: absolute;
    bottom:40px;
    left:50%;
    margin-left:-40px;
}
.scroll_pic ul li{
    float: left;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.scroll_pic ul li.on{
    background: lightblue;
}
.scroll_pic a{
    position: absolute;
    width: 30px;
    height: 45px;
    top:130px;
    opacity: 0.3;
    filter: alpha(opacity:30);
    background-image: url("../img/pre.png");
    background-repeat: no-repeat;
    display: none;
}
.scroll_pic a:hover{
    opacity: 0.8;
    filter: alpha(opacity:80);
}
.scroll_pic a.left{
    background-position: 0 0;
    left:20px;
}
.scroll_pic a.right{
    background-position: -50px 0;
    right:20px;
}

/*回到顶部*/
#toTop {
    width:40px;
    position:fixed;
    right:180px;
    bottom:30px;
    -webkit-transform-style:preserve-3d;
    transition:0.3s;
    -webkit-transform-origin:center center -20px;
}
.toTop {
    float:left;
    width:40px;
    height:38px;
    text-align:center;
    line-height:38px;
    font-size:36px;
    color:#000;
    opacity:.5;
}
#toTop span:nth-of-type(2) {
    color:darkgoldenrod;
    position:absolute;left:0;
    top:-38px;
    -webkit-transform-origin:bottom;
    -webkit-transform:rotateX(90deg)
}








/*toDo 修改js中时/
/*
#toTop:hover {
    -webkit-transform:rotateX(-90deg);
}*/
/*footer-style*/
.footer{
    margin:20px 0 10px;
}
.footer a, .footer span{
    color:#fff;
}
.footer p{
    color:#fff;
}